@model GardenTruck.Models.Flowers

@{ ViewData["Title"] = "Details"; }
@{ Layout = "_Layout"; }
<br />

<div>
    <h4>Details of Flowers</h4>
    <hr />
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Flower)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Flower)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Age)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Price)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-warning">Edit</a>
    <a asp-action="Index" type="button" class="btn btn-warning">Back to List</a>
</div>
