@model IEnumerable<GardenTruck.Models.Flowers>

@{ ViewData["Title"] = "Flowers"; }

@{ Layout = "_Layout"; }
<p>
    <a asp-action="Create" type="button" class="btn btn-secondary">Add New Flowers</a>
</p>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Flower)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-secondary">Edit</a>
        <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-secondary">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-secondary">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
